//clone de config/color

$primaryColor: #97ACD3;
$primaryDarkColor: #456296;

$titleColor: #C4D2EB;
$body1Color: #E9EFFA;
$body2Color: #FFF;

$infraColor: #F29049;
$infraDarkColor: #AE520D;

// $successColor: '#0197F6';
// $infoColor: '#0197F6';
// $errorColor: '#F2AF29';
// $warningColor: '#F2AF29';
